/* rodzic calego elementu */
.box-at {
  position: relative;
  width: 469px;
  height: 440px;
  overflow: hidden;
}
/* pomaranczowy naroznik */
.corner-at {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  /* kolor naroznika */
  background-color: #f7c43b;
  transform-origin: top left;
  transform: scale(0);
  transition: transform 450ms ease;
}
.box-at:hover .corner-at {
  transform: scale(1);
}
/* glowne zdjecie na elemencie */
.image-at {
  position: absolute;
  left: 0px;
  top: 0;
  width: 469px;
  height: 440px;
  border-radius: 0 220px 220px 0;
  z-index: 1;
  transform: translateX(-100px);
  transition: transform 450ms ease;
}
.box-at:hover .image-at {
  transform: translateX(0);
}
/* pozycjionowanie napisu zobacz wiecej */
.see-more-at {
  position: absolute;
  right: 65px;
  top: -220px;
  transform: scale(0.5);
}
/*my digital life*/

.my-digital-life {
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 2050ms cubic-bezier(0.63, -0.05, 0.37, 1);
}
.my-digital-life:hover {
  transform: rotate(360deg);
}

/*my digital life*/

/* nastepne */

.nastepne {
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 550ms cubic-bezier(0.63, -0.05, 0.37, 1);
}
.nastepne:hover {
  transform: rotate(90deg);
}
.nastepne-number {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

/* nastepne */

/* strzalka w kole  */

.button1.button3 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(./arrow-slider.png);
  background-position: 35%;
  border: 1px solid black;
  border-radius: 50%;
}

.button2.button3:hover {
  animation: nextarrow 2s;
  animation-iteration-count: 1;
}

@keyframes nextarrow {
  0% {
    background-position: 35%;
  }

  100% {
    background-position: -165%;
  }
}

/* strzalka w kole  */

/* arrow oblique */
.arrow-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-icon {
  width: 36px;
  height: 36px;
  transform: rotate(0deg);
}
.arrow-email-style {
  margin-left: 10px;
  color: #001b24;
  font-size: 1em;
  text-decoration: none;
  transform: translateX(0px);
}
.arrow-box:hover .arrow-icon {
  transform: rotate(42deg);
  transition: transform 850ms cubic-bezier(0.63, -0.05, 0.37, 1);
}
.arrow-box:hover .arrow-email-style {
  transform: translateX(7px);
  transition: transform 450ms cubic-bezier(0.63, -0.05, 0.37, 1);
}
/* arrow oblique */

/* arrow oblique2 */
.arrow-box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-icon2 {
  width: 36px;
  height: 36px;
  transform: rotate(0deg);
}
.arrow-email-style2 {
  margin-left: 10px;
  color: #001b24;
  font-size: 1em;
  text-decoration: none;
  transform: translateX(0px);
}
.arrow-box2:hover .arrow-icon2 {
  transform: rotate(42deg);
}
.arrow-box2:hover .arrow-email-style2 {
  transform: translateX(7px);
}

/* arrow oblique3 */
.arrow-box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-icon3 {
  width: 36px;
  height: 36px;
  transform: rotate(0deg);
}
.arrow-email-style3 {
  margin-left: 10px;
  color: #001b24;
  font-size: 1em;
  text-decoration: none;
  transform: translateX(0px);
}
.arrow-box3:hover .arrow-icon3 {
  transform: rotate(360deg);
  transition: transform 850ms cubic-bezier(0.63, -0.05, 0.37, 1);
}
.arrow-box3:hover .arrow-email-style3 {
  transform: translateX(7px);
  transition: transform 450ms cubic-bezier(0.63, -0.05, 0.37, 1);
}
/* arrow oblique3 */