.box-at {
  position: relative;
  width: 469px;
  height: 440px;
  margin: 0 auto;
  background-color: #ffffff;
  overflow: hidden;
}

.corner-at {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  background-color: #f7c43b;
  transform-origin: top left;

  transform: scale(0);
  transition: transform 450ms ease;
}

.box-at:hover .corner-at {
  transform: scale(1);
}

.image-at {
  position: absolute;
  left: 0px;
  top: 0;
  width: 469px;
  height: 440px;
  border-radius: 0 220px 220px 0;
  z-index: 1;
  transform: translateX(-100px);
  transition: transform 450ms ease;
}

.box-at:hover .image-at {
  transform: translateX(0);
}

.see-more-at {
  position: absolute;
  right: 60px;
  top: -220px;
  transform: scale(0.5);
}
